.transactions-container {
    border-radius: 20px;
    background-color: #ffffff;
    width: 660px;
    height: 538px;
    margin-top: 24px;
    margin-left: 20px;
}

.your-transactions {
    display: flex;
    justify-content: space-between;
}

.calendar {
    display: flex;
    flex-direction: row;
    gap:6px;
    margin: 31px 21.5px;
}

.your-transactions h4 {
    font-size: 18px;
    font-weight: 400;
    color: #2D3748;
    margin: 28px 21px;
}

.icon-calendar {
    width: 15px;
    height: 15px;
}

.your-transactions span {
    color: #A0AEC0;
    font-weight: 400;
    font-size: 14px;
}
